  <!DOCTYPE html>
  <html lang="fr">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Cadeaux de noël 2025"/>
    <meta property="og:description" content="À qui offrir le cadeau de noël?"/>

    <meta property="og:image" content="/static/favicon.ico" />

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <style>
h1 {
 display: flex;
 justify-content: center;
}

button {
 font-size: 1em;
}

#buttons {
  margin: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50vh;
}

span#name {
 color: blue;
}


    </style>
    <script>
let people =
[{{ range .People }}
 {"name": "{{.Name}}", "other": {{.Other}}}, {{ end }}
];

let page1_html = `
<div>
 <h1>Qui es-tu?</h1>
 <div id="buttons">
 {{ range .People }}
 <button>{{ .Name }}</button>
 {{ end }}
 </div>
</div>
`;

let local_storage_key = "clicked_{{.Seed}}";

function setPage1() {
 document.body.innerHTML = page1_html;
 let buttons = document.querySelectorAll("button");
 for(let index = 0; index < buttons.length; index += 1)
 {
  let button = buttons[index];
  button.addEventListener("click", function(event) {
   event.preventDefault();

   let name = button.innerText;
   let person = null;
   for(let person_index = 0; person_index < people.length; person_index += 1)
   {
    if(people[person_index].name === name)
    {
     person = people[person_index];
     break;
    }
   }

   {{ if false }}
   fetch('/person/', {
    method: 'POST',
    headers:
    {
     'Content-Type': 'application/x-www-form-urlencoded'
    },
    body: "name=" + person.name
   })
   .then(function(response) {
    response.text().
     then(function(text_response) {
      if(text_response !== 'ok') {
       console.log("Error");
      }
     })
    })
   .catch(error => console.error('Error:', error));
   {{ end }}

   document.body.innerHTML = `
    <h1>Tu es bien ${person.name}?</h1>
    <div id="buttons">
     <button id="yes">Oui</button>
     <button id="no">Non</button>
    </div>`;

   let yes_button = document.getElementById("yes");
   let no_button = document.getElementById("no");

   yes_button.addEventListener("click", function(event) {
    event.preventDefault();
    let other_person = people[person.other];
    document.body.innerHTML = `<h1>Tu as&nbsp;<span id="name">${other_person.name}</span>.</h1>`;
    localStorage.setItem(local_storage_key, other_person.name);
   });

   no_button.addEventListener("click", function(event) {
    event.preventDefault();
    setPage1();
   });

  }); // button click even listener
 }
}

window.onload = function() {
 let clicked = localStorage.getItem(local_storage_key);
 if(!clicked)
 {
  setPage1();
 }
 else
 {
  document.body.innerHTML = `<h1>Tu as déjà choisi.</h1>`;
 }
};

    </script>

   </head>
   <body>
   </body>

  </html>
