<!DOCTYPE html>
{{ if .Internal }}
<!--
	Documentation

This is the web UI of the feedback app.
Every "page" is just setting the whole "<body>"'s innerHTML (see setPage* functions).  This way
we can avoid creating a network request for each page.

Data is cached to local storage so that we only need to send requests to sync the data.
The `context` object has all the data necessary for the application to work.

TODO(luca): Get rid of PicoCSS, because it does not make a good responsive UI.

TODO(luca): Check error messages maybe sending too much information. (e.g., "invalid person" can be bruteforced to find the person's names)

-->
{{ end }}
<html lang="fr" data-theme="dark">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Feedback JNM"/>
  <meta property="og:description" content="Geef jouw feedback aan ander JNM leden"/>
  <meta property="og:image" content="/static/favicon.ico" />

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <style>

h1 {
 display: flex;
 justify-content: center;
}

.centered {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50vh;
}

button {
 font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

span.name {
 color: #87bfcf;
}

textarea {
 display: block !important;
}

.fade {
    animation: fadeOut 1s forwards;
}
        
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

div#pin-login {
	margin: 2em 5em 0em 5em;
 display: flex;
 justify-content: center;
 align-items: center;
}
div#pin-login > input {
	display: flex;
	flex: 5;
}
button#pin-login-button {
	display: flex;
	flex: 1;
}
div.pin-text-container {
	display: flex;
	align-items: center;
}
div.pin-text-container > span {
}

   </style>
   <script>
"use strict";

//- Globals
let people =
[{{ range .People }}
 {"name": "{{.Name}}", "has_picked": {{.HasPicked}}}, {{ end }}
];

let local_storage_key = "{{.Key}}";

let context = {
 initialized: false,
 token: null,
 thisName: null,
 thisFeedback: null,
 otherName: null,
 otherFeedback: null,
};

//- Text
let text_no = "Nee";
let text_yes = "Ja";
let text_back = "terug";
let text_save = "saven";
let text_saved = "gesaved";
let text_login = "log in";
let text_name = "Naam";
let text_code = "Code";
let text_who_are_you = "Wie ben je?";
let text_give_feedback = "Feedback geven";
let text_my_feedback = "Mijn feedback";
let text_pincode = "PIN code";
let text_info = "Info:";
let text_empty = "Leeg...";
let text_infos = ["blah", "blah", "blah", "blah"];

function text_feedback_title()
{
	return `Feedback van&nbsp;<span class="name">${context.thisName}</span>`;
}

function text_my_feedback_title()
{
			return `<span class="name">Jouw</span>&nbsp;feedback`;
}

function text_their_feedback_title()
{
	return `Je hebt&nbsp;<span class="name">${context.otherName}</span>`;
}

function text_get_infos()
{
	let result = "";
	for(let index = 0; index < text_infos.length; index += 1)
	{
		result += "<li>" + text_infos[index] + "</li>";
	}

	return result;
}

//- Helpers
function findPersonByName(picking_person_name) {
 let result = null;

 for(let peopleIndex = 0; peopleIndex < people.length; peopleIndex += 1)
 {
  if(people[peopleIndex].name === picking_person_name)
  {
   result = people[peopleIndex];
   break;
  }
 }

 return result;
}

//- Pages
function setPageChoose() {
	let pinLoginNameID = "pin-login-name"; 
	let pinLoginCodeID = "pin-login-code"; 
	let pinLoginButtonID = "pin-login-button";

 document.body.innerHTML = `
		<div id="pin-login">
			<form>
				<fieldset role="group">
					<input id="${pinLoginNameID}" type="text" placeholder="${text_name}">
					<input id="${pinLoginCodeID}" type="text" placeholder="${text_code}">
					<input id="${pinLoginButtonID}" type="submit" value="${text_login}">
				</fieldset>
			</form>
		</div>

		<div class="centered">
			<div class="container">
				<h1>${text_who_are_you}</h1>
				<div class="buttons"></div>
			</div>
		</div>
  `;

 let buttons = document.querySelector("div.buttons");
 for(let index = 0; index < people.length; index += 1)
 {
  let person = people[index];
  if(!person.has_picked)
  {
   let button = document.createElement('button');
   button.textContent = people[index].name;
   buttons.appendChild(button);
   button.addEventListener("click", function(event) {
    event.preventDefault();

				history.pushState({home: "/"}, "", "/");

    let name = person.name;
    let thisPerson = findPersonByName(name);

    document.body.innerHTML = `
					<div class="centered">
						<div class="container">
							<h1>Ben je wel ${thisPerson.name}?</h1>
							<div class="buttons">
						<button id="yes">${text_yes}</button>
						<button id="no">${text_no}</button>
							</div>
						</div>
					</div>`;

    let yes_button = document.getElementById("yes");
    let no_button = document.getElementById("no");

    yes_button.addEventListener("click", async function(event) {
     event.preventDefault();

					history.pushState({home: "/"}, "", "/");

     await fetch(`/api/choose/?name=${thisPerson.name}`)
      .then(function(response) {
          if (!response.ok) {
              console.error('Network response was not ok');
											        const textElement = document.createElement('div');
          }
          return response.json();
      })
      .then(function(response) {
       context.token = response.Token;
       context.thisName = thisPerson.name;
       context.thisFeedback = response.ThisFeedback;
       context.otherName = response.OtherName;
       context.otherFeedback = response.OtherFeedback;
       context.initialized = true;

       localStorage.setItem(local_storage_key, JSON.stringify(context));
       })
      .catch(function(error) {
          console.error('There was a problem with the fetch operation:', error);
      });

     setPageThisPerson();
    });

    no_button.addEventListener("click", function(event) {
     event.preventDefault();

     setPageChoose();
    });

   }); // button click even listener
  } // has_picked
 } // for loop

 let login_button = document.getElementById(pinLoginButtonID);
	login_button.addEventListener("click", function(event) {
		event.preventDefault();

		let name = document.getElementById(pinLoginNameID).value;
		let code = document.getElementById(pinLoginCodeID).value;
		console.log("name:", name);
		console.log("code:", code);

		let messageBody = {
			name: name,
			code: code
		};
		const postBody = new URLSearchParams(messageBody).toString();

		fetch('/api/pin/', {
			method: 'POST',
			headers:
			{
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: postBody,
		})
		.then(function(response) {
			if (!response.ok) {
				console.error('Network response was not ok');

				const textElement = document.createElement('div');
				textElement.textContent = 'Erreur';
				textElement.classList.add('fade');
				let buttons = document.querySelector("div#pin-login > form");
					buttons.appendChild(textElement);
					setTimeout(function() {
								textElement.remove();
					}, 1000);
			}
			return response.json();
		})
		.then(function(response) {
				context.token = response.Token;
				context.thisName = name;
				context.thisFeedback = response.ThisFeedback;
				context.otherName = response.OtherName;
				context.otherFeedback = response.OtherFeedback;
				context.initialized = true;

				localStorage.setItem(local_storage_key, JSON.stringify(context));

				setPageThisPerson();
		})
		.catch(function(error) { console.error(error); });
	});

}

function setPageOtherPerson() {
	history.pushState({home: "/"}, "", "/");

 let feedbackID = "feedback";
	let backButtonID = "back";

 document.body.innerHTML = `
  <div class="container">
			<h1>${text_my_feedback_title()}</h1>
			<textarea readonly rows="15" cols="40" id="${feedbackID}" placeholder="${text_empty}"></textarea>
			<div class="buttons">
			<button id="${backButtonID}">${text_back}</button>
			</div>
  </div>
  `;

	let backButton = document.getElementById(backButtonID);
	backButton.addEventListener("click", function(event) {
		event.preventDefault();

		setPageThisPerson();
	});

 let feedback = document.getElementById(feedbackID);
 feedback.value = context.otherFeedback;

	fetch(`/api/list/?user=${context.thisName}&name=${context.otherName}&token=${context.token}`)
 .then(function(response) {
     if (!response.ok) {
         console.error('Network response was not ok');
     }
     return response.text();
 })
 .then(function(response) {
  if(feedback.value != response)
  {
   context.otherFeedback = response;
   feedback.value = response;
   localStorage.setItem(local_storage_key, JSON.stringify(context));
  }
 })
 .catch(function(error) {
     console.error('There was a problem with the fetch operation:', error);
 });

}

function setPageThisPerson() {
 let showPersonButtonID = "show-person";
 let feedbackButtonID = "write-feedback";
 let getPinButtonID = "get-pin";
 let pinTextID = "pin-text";

 document.body.innerHTML = `
  <div class="centered">
			<div class="container">
			<h1>${text_feedback_title()}</h1>
				<div class="buttons">
					<button id="${showPersonButtonID}">${text_my_feedback}</button>
					<button id="${feedbackButtonID}">${text_give_feedback}</button>
					<button id="${getPinButtonID}">${text_pincode}</button>
	    <div class="pin-text-container">
						<span id="${pinTextID}"></span>
		   </div>
				</div>
				<h4><b>${text_info}</b></h4>
				<ul>
					${text_get_infos()}
				</ul>
			</div>
  </div>
  `;

	let getPinButton = document.getElementById(getPinButtonID);
	getPinButton.addEventListener("click", function(event) {
		event.preventDefault();
		
		fetch(`/api/pin/?name=${context.thisName}&token=${context.token}`)
		.then(function(response) {
			if (!response.ok) {
							console.error('Network response was not ok');
			}
			return response.text();
		})
		.then(function(text_response) {
			let pinText = document.getElementById(pinTextID);
			pinText.innerText = text_response;
		})
		.catch(function(error) {
						console.error('There was a problem with the fetch operation:', error);
		});
	});

 let showPersonButton = document.getElementById(showPersonButtonID);
 showPersonButton.addEventListener("click", function(event) {
  event.preventDefault();

  setPageOtherPerson();
 });

 let writeFeedbackButton = document.getElementById(feedbackButtonID);
 writeFeedbackButton.addEventListener("click", async function(event) {
  event.preventDefault();

		history.pushState({home: "/"}, "", "/");

  let sendFeedbackButtonID = "send-feedback";
  let feedbackTextAreaID = "feedback-text";
		let backButtonID = "back";

  document.body.innerHTML = `
   <div class="container">
			<h1>${text_their_feedback_title()}</h1>
			<textarea id="${feedbackTextAreaID}" rows="15" cols="40" placeholder="${text_empty}"></textarea>
    <div class="buttons">
				<button id="${backButtonID}">${text_back}</button>
				<button id="${sendFeedbackButtonID}">${text_save}</button>
    </div>
   </div>
   `;

   let backButton = document.getElementById(backButtonID);
			backButton.addEventListener("click", function(event) {
				event.preventDefault();

				setPageThisPerson();
			});

   let feedback = document.getElementById(feedbackTextAreaID);
   feedback.value = context.thisFeedback;

			await fetch(`/api/list/?user=${context.thisName}&name=${context.thisName}&token=${context.token}`)
			.then(function(response) {
							if (!response.ok) {
											console.error('Network response was not ok');
							}
							return response.text();
			})
			.then(function(response) {
				{{ if .Internal }}
				console.log("response:", response);
				console.log(typeof(response));
				console.log("feedback.value:", feedback.value);
				console.log(typeof(feedback.value));
				console.log("feedback.value === response:", feedback.value === response);
				{{ end }}

				if(feedback.value !== response)
				{
					context.thisFeedback = response;
					feedback.value = response;
					localStorage.setItem(local_storage_key, JSON.stringify(context));
				}
			})
			.catch(function(error) {
							console.error('There was a problem with the fetch operation:', error);
			});

   let sendFeedbackButton = document.getElementById(sendFeedbackButtonID);
   sendFeedbackButton.addEventListener("click", function(event) {
    event.preventDefault();

				{{ if .Internal }}
    console.log("Sending list of", context.thisName);
				console.log("content:", feedback.value);
				{{ end }}

    context.thisFeedback = feedback.value;
    localStorage.setItem(local_storage_key, JSON.stringify(context));

    let messageBody = {
     name: context.thisName,
     token: context.token,
     text: feedback.value,
    };
    const postBody = new URLSearchParams(messageBody).toString();

    fetch('/api/list/', {
     method: 'POST',
     headers:
     {
      'Content-Type': 'application/x-www-form-urlencoded'
     },
     body: postBody,
    })
    .then(function(response) {
     response.text().
      then(function(text_response) {
        const textElement = document.createElement('div');
        textElement.textContent = text_saved;
        textElement.classList.add('fade');
        let buttons = document.querySelector("div.buttons");
        buttons.appendChild(textElement);
        setTimeout(function() {
           textElement.remove();
        }, 1000);
      })
     })
     .catch(function(error) { console.error('Error:', error); });

   }); // add event listener send button
 }); // add event listener write feedback
}

//- Main
window.onload = function() {
	{{ if .Internal }}
 // NOTE(luca): Users will expect going back to go to the home page so we do this manually.
	{{ end }}
 window.addEventListener('popstate', function(event) {
    window.location.reload();
 });

 let all_data = localStorage.getItem(local_storage_key);
 if(!all_data)
 {
  setPageChoose();
 }
 else
 {
  let data_parsed = JSON.parse(all_data);
  context = data_parsed;
  console.log(context);

  setPageThisPerson();
 }
};
  </script>
 </head>
 <body>
 </body>

</html>
