{{ if false }}
<!--
	Documentation

This is the web UI of the noelan app.
Every "page" is just setting the whole "<body>"'s innerHTML (see setPage* functions).  This way
we can avoid creating a network request for each page.

Data is cached to local storage so that we only need to send requests to sync the data.
The `global_all_data` object has all the data necessary for the application to work.

TODO(luca): Get rid of PicoCSS, because it does not make a good responsive UI.

TODO(luca): Check error messages maybe sending too much information. (e.g., "invalid person" can be bruteforced to find the person's names)

-->
{{ end }}


<!DOCTYPE html>
<html lang="fr" data-theme="dark">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Cadeaux de noël 2025"/>
  <meta property="og:description" content="À qui offrir le cadeau de noël?"/>
  <meta property="og:image" content="/static/favicon.ico" />

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <style>

h1 {
 display: flex;
 justify-content: center;
}

.centered {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50vh;
}

button {
 font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

span.name {
 color: #87bfcf;
}

textarea {
 display: block !important;
}

.fade {
    animation: fadeOut 1s forwards;
}
        
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

div#pin-login {
	margin: 2em 5em 0em 5em;
 display: flex;
 justify-content: center;
 align-items: center;
}
div#pin-login > input {
	display: flex;
	flex: 5;
}
button#pin-login-button {
	display: flex;
	flex: 1;
}
div.pin-text-container {
	display: flex;
	align-items: center;
}
div.pin-text-container > span {
}

   </style>
   <script>
"use strict";

//- Globals
let people =
[{{ range .People }}
 {"name": "{{.Name}}", "has_picked": {{.HasPicked}}}, {{ end }}
];

let local_storage_key = "{{.Key}}";

let global_all_data = {
 initialized: false,
 token: null,
 thisName: null,
 thisWishlist: null,
 otherName: null,
 otherWishlist: null,
};

//- Helpers
function findPersonByName(picking_person_name) {
 let result = null;

 for(let peopleIndex = 0; peopleIndex < people.length; peopleIndex += 1)
 {
  if(people[peopleIndex].name === picking_person_name)
  {
   result = people[peopleIndex];
   break;
  }
 }

 return result;
}

//- Pages
function setPageChoose() {
	let pinLoginNameID = "pin-login-name"; 
	let pinLoginCodeID = "pin-login-code"; 
	let pinLoginButtonID = "pin-login-button";

 document.body.innerHTML = `
		<div id="pin-login">
		<form>
			<fieldset role="group">
				<input id="${pinLoginNameID}" type="text" placeholder="Nom">
				<input id="${pinLoginCodeID}" type="text" placeholder="Code">
				<input id="${pinLoginButtonID}" type="submit" value="connecter">
			</fieldset>
		</form>
		</div>

		<div class="centered">
			<div class="container">
				<h1>Qui es-tu?</h1>
				<div class="buttons"></div>
			</div>
		</div>
  `;

 let buttons = document.querySelector("div.buttons");
 for(let index = 0; index < people.length; index += 1)
 {
  let person = people[index];
  if(!person.has_picked)
  {
   let button = document.createElement('button');
   button.textContent = people[index].name;
   buttons.appendChild(button);
   button.addEventListener("click", function(event) {
    event.preventDefault();

				history.pushState({home: "/"}, "", "/");

    let name = person.name;
    let thisPerson = findPersonByName(name);

    document.body.innerHTML = `
					<div class="centered">
						<div class="container">
							<h1>Tu es bien ${thisPerson.name}?</h1>
							<div class="buttons">
								<button id="yes">Oui</button>
								<button id="no">Non</button>
							</div>
						</div>
					</div>`;

    let yes_button = document.getElementById("yes");
    let no_button = document.getElementById("no");

    yes_button.addEventListener("click", async function(event) {
     event.preventDefault();

					history.pushState({home: "/"}, "", "/");

     await fetch(`/api/choose/?name=${thisPerson.name}`)
      .then(function(response) {
          if (!response.ok) {
              console.error('Network response was not ok');
          }
          return response.json();
      })
      .then(function(response) {
       global_all_data.token = response.Token;
       global_all_data.thisName = thisPerson.name;
       global_all_data.thisWishlist = response.ThisWishlist;
       global_all_data.otherName = response.OtherName;
       global_all_data.otherWishlist = response.OtherWishlist;
       global_all_data.initialized = true;

       localStorage.setItem(local_storage_key, JSON.stringify(global_all_data));
       })
      .catch(function(error) {
          console.error('There was a problem with the fetch operation:', error);
      });

     setPageThisPerson();
    });

    no_button.addEventListener("click", function(event) {
     event.preventDefault();

     setPageChoose();
    });

   }); // button click even listener
  } // has_picked
 } // for loop

 let login_button = document.getElementById(pinLoginButtonID);
	login_button.addEventListener("click", function(event) {
		event.preventDefault();

		let name = document.getElementById(pinLoginNameID).value;
		let code = document.getElementById(pinLoginCodeID).value;
		console.log("name:", name);
		console.log("code:", code);

		let messageBody = {
			name: name,
			code: code
		};
		const postBody = new URLSearchParams(messageBody).toString();

		fetch('/api/pin/', {
			method: 'POST',
			headers:
			{
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: postBody,
		})
		.then(function(response) {
			if (!response.ok) {
					console.error('Network response was not ok');
			}
			return response.json();
		})
		.then(function(response) {
				global_all_data.token = response.Token;
				global_all_data.thisName = name;
				global_all_data.thisWishlist = response.ThisWishlist;
				global_all_data.otherName = response.OtherName;
				global_all_data.otherWishlist = response.OtherWishlist;
				global_all_data.initialized = true;

				localStorage.setItem(local_storage_key, JSON.stringify(global_all_data));

				setPageThisPerson();
		})
		.catch(function(error) { console.error(error); });
	});

}

function setPageOtherPerson() {
	history.pushState({home: "/"}, "", "/");

 let wishlistID = "wishlist";
	let backButtonID = "back";

 document.body.innerHTML = `
  <div class="container">
			<h1>Tu as&nbsp;<span class="name">${global_all_data.otherName}</span>.</h1>
			<h4>Sa liste des souhaits:</h4>
			<textarea readonly rows="15" cols="40" id="${wishlistID}" placeholder="Vide..."></textarea>
			<div class="buttons">
				<button id="${backButtonID}">retour</button>
			</div>
  </div>
  `;

	let backButton = document.getElementById(backButtonID);
	backButton.addEventListener("click", function(event) {
		event.preventDefault();

		setPageThisPerson();
	});

 let wishlist = document.getElementById(wishlistID);
 wishlist.value = global_all_data.otherWishlist;

	fetch(`/api/list/?user=${global_all_data.thisName}&name=${global_all_data.otherName}&token=${global_all_data.token}`)
 .then(function(response) {
     if (!response.ok) {
         console.error('Network response was not ok');
     }
     return response.text();
 })
 .then(function(response) {
  if(wishlist.value != response)
  {
   global_all_data.otherWishlist = response;
   wishlist.value = response;
   localStorage.setItem(local_storage_key, JSON.stringify(global_all_data));
  }
 })
 .catch(function(error) {
     console.error('There was a problem with the fetch operation:', error);
 });

}

function setPageThisPerson() {
 let showPersonButtonID = "show-person";
 let wishlistButtonID = "write-wishlist";
 let getPinButtonID = "get-pin";
 let pinTextID = "pin-text";

 document.body.innerHTML = `
  <div class="centered">
			<div class="container">
				<h1>Noël-An de&nbsp;<span class="name">${global_all_data.thisName}</span></h1>
				<div class="buttons">
					<button id="${showPersonButtonID}">Voir qui j'ai choisi</button>
					<button id="${wishlistButtonID}">Ma liste des souhaits</button>
					<button id="${getPinButtonID}">Code PIN</button>
	    <div class="pin-text-container">
						<span id="${pinTextID}"></span>
		   </div>
				</div>
				<h4><b>Infos:</b></h4>
				<ul>
					<li>Ne dévoilez à persone qui vous avez tiré au sort!</li>
					<li>Vous pouvez écrire une liste de souhaits, la personne ayant tiré votre nom y a accès.</li>
					<li>Il n'est pas obligé de respecter la liste ou d'en écrire une. Elle sert pour inspirer des idées de cadeaux.</li>
					<li>Si vous avez un soucis n'hésitez-pas à me contacter !</li>
				</ul>
			</div>
  </div>
  `;

	let getPinButton = document.getElementById(getPinButtonID);
	getPinButton.addEventListener("click", function(event) {
		event.preventDefault();
		
		fetch(`/api/pin/?name=${global_all_data.thisName}&token=${global_all_data.token}`)
		.then(function(response) {
			if (!response.ok) {
							console.error('Network response was not ok');
			}
			return response.text();
		})
		.then(function(text_response) {
			let pinText = document.getElementById(pinTextID);
			pinText.innerText = text_response;
		})
		.catch(function(error) {
						console.error('There was a problem with the fetch operation:', error);
		});
	});

 let showPersonButton = document.getElementById(showPersonButtonID);
 showPersonButton.addEventListener("click", function(event) {
  event.preventDefault();

  setPageOtherPerson();
 });

 let writeWishlistButton = document.getElementById(wishlistButtonID);
 writeWishlistButton.addEventListener("click", async function(event) {
  event.preventDefault();

		history.pushState({home: "/"}, "", "/");

  let sendWishlistButtonID = "send-wishlist";
  let wishlistTextAreaID = "wishlist-text";
		let backButtonID = "back";

  document.body.innerHTML = `
   <div class="container">
			<h1><span class="name">Ma</span>&nbsp;liste des souhaits</h1>
    <textarea id="${wishlistTextAreaID}" rows="15" cols="40" placeholder="Vide..."></textarea>
    <div class="buttons">
			  <button id="${backButtonID}">retour</button>
     <button id="${sendWishlistButtonID}">sauvegarder</button>
    </div>
   </div>
   `;

   let backButton = document.getElementById(backButtonID);
			backButton.addEventListener("click", function(event) {
				event.preventDefault();

				setPageThisPerson();
			});

   let wishlist = document.getElementById(wishlistTextAreaID);
   wishlist.value = global_all_data.thisWishlist;

			await fetch(`/api/list/?user=${global_all_data.thisName}&name=${global_all_data.thisName}&token=${global_all_data.token}`)
			.then(function(response) {
							if (!response.ok) {
											console.error('Network response was not ok');
							}
							return response.text();
			})
			.then(function(response) {
				{{ if false }}
				console.log("response:", response);
				console.log(typeof(response));
				console.log("wishlist.value:", wishlist.value);
				console.log(typeof(wishlist.value));
				console.log("wishlist.value === response:", wishlist.value === response);
				{{ end }}

				if(wishlist.value !== response)
				{
					global_all_data.thisWishlist = response;
					wishlist.value = response;
					localStorage.setItem(local_storage_key, JSON.stringify(global_all_data));
				}
			})
			.catch(function(error) {
							console.error('There was a problem with the fetch operation:', error);
			});

   let sendWishlistButton = document.getElementById(sendWishlistButtonID);
   sendWishlistButton.addEventListener("click", function(event) {
    event.preventDefault();

				{{ if false }}
    console.log("Sending list of", global_all_data.thisName);
				console.log("content:", wishlist.value);
				{{ end }}

    global_all_data.thisWishlist = wishlist.value;
    localStorage.setItem(local_storage_key, JSON.stringify(global_all_data));

    let messageBody = {
     name: global_all_data.thisName,
     token: global_all_data.token,
     text: wishlist.value,
    };
    const postBody = new URLSearchParams(messageBody).toString();

    fetch('/api/list/', {
     method: 'POST',
     headers:
     {
      'Content-Type': 'application/x-www-form-urlencoded'
     },
     body: postBody,
    })
    .then(function(response) {
     response.text().
      then(function(text_response) {
        const textElement = document.createElement('div');
        textElement.textContent = 'Sauvegardé';
        textElement.classList.add('fade');
        let buttons = document.querySelector("div.buttons");
        buttons.appendChild(textElement);
        setTimeout(function() {
           textElement.remove();
        }, 1000);
      })
     })
     .catch(function(error) { console.error('Error:', error); });

   }); // add event listener send button
 }); // add event listener write wishlist
}

//- Main
window.onload = function() {
	{{ if false }}
 // NOTE(luca): Users will expect going back to go to the home page so we do this manually.
	{{ end }}
 window.addEventListener('popstate', function(event) {
    window.location.reload();
 });

 let all_data = localStorage.getItem(local_storage_key);
 if(!all_data)
 {
  setPageChoose();
 }
 else
 {
  let data_parsed = JSON.parse(all_data);
  global_all_data = data_parsed;
  console.log(global_all_data);

  setPageThisPerson();
 }
};
  </script>
 </head>
 <body>
 </body>

</html>
